$primy-color:#653C80;
$font-color:#CA8BB3;
$white:#ffffff;
$purpe:#67163E;
$font:'Roboto Slab', serif;
$footer-color:#70405E;



*{
	padding: 0;
	margin: 0;
}
body{
	font-family: $font;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
header{
	background-color: $primy-color;
	position:fixed;
	top:0;
	width:100%;
	z-index:1000;
}

.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.top{
	padding:5px;
	display:flex;
	justify-content: space-between;

	&_logo{
		display: flex;
		img{
			width:50px;
			height: 70px;
		}
		&_description{
	    	padding-left: 5%;
		    margin-top: -0.4%;
		    width: 300px;
			h1,h3{
				color:$white;
			}
		}
	}
	&_menu{
		.nav{
			margin-top: 16px;
			li{
				display:inline-block;
				margin-left: 45px;
				a{
					color:$white;
					font-size: 1.5rem;
				}
				a:hover{
					border-bottom: 2px solid $white;
					padding-bottom: 8px;
					transition: .5s;
				}
			}
		}
	}
}
.label{
	background-image: url('../img/bg-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height:100vh;
}
.divine{
	padding-top: 9%;
	text-align: center;
	&_logo{
		display:inline;
		 animation-duration: 3s;
        animation-name: slidein;
		img{
			width:22%;	   	
		}
		
	}
	&_description{
		display: inline-block;
	    vertical-align: top;
	    margin-top: 1.5rem;
		h1,h3{
			color:$white;
		}
		h1{
			font-size: 8rem;
		}
		h3{
			font-size:4rem;
		}
	}

}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.address{
	margin-top:2%;
	position: relative;
	text-align:center;
    animation-name: example;
    animation-duration: 4s;
    h1{
    	color:$white;
    	font-size:4rem;
    	font-weight: 400;
    }
}
.pointer{
	display:flex;
	justify-content: center;
	margin-top: 3%;
    &_marker{
    	img{
    		width:60px;
    		height:60px;
    	}
    }
    &_adress{
    	h3{
    		color:$white;
    		font-size:2.5rem;
    		font-weight: 400;
    	}
    }
}
.descriptions{
	background: $font-color;
}
.salone{
	padding-top:5%;
	&_name{
		h1{
			color:$purpe;
			font-size:3rem;
			padding-bottom:2%;
		}
	}
	&_description{
		font-size:1.5rem;
		p{
			text-indent:3rem;
			padding-top:2%;
			padding-bottom:6%;
		}	
	}
}
.why{
	background-image: url('../img/bg-2.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	height:100vh;
}
.choice{
	padding-top:5%;
	text-align:center;
	h1{
		color:$purpe;
		font-size:3rem;
	}
}
.choice-item{
	padding-top:5%;
	display: flex;
    justify-content: space-between;
	li{
		background: rgba(0,0,0,0.3);
		border-radius: 10px;
		text-align:center;

		img{
			padding-top:5%;
			width:26%;
		}
		h2{
			font-weight:400;
			color:$white;
			font-size:1.7rem;
		}
		p{
			text-align: left;
    		padding: 40px;
    		color:$white;
    		font-size:1.1rem;
		}
	}
	li:first-child{
		margin-right: 10px;
	}
	li:last-child{
		margin-left: 10px;
		padding: 22px;
	}
	li:hover{
		background: rgba(0,0,0,0.5);
	}
}
.procedure{
	background-color:$purpe;
	padding-bottom:10px;
}
.services{
	padding-top:5%;
	&_name{
		h1{
			text-align:center;
			color:$white;
			font-size:3rem;
		}
	}
	
}
.services-pr{
	display:flex;
	justify-content: space-between;
	&_item{
		padding-top: 2%;
		padding-bottom:5%;
		li{
			color:$white;
			font-size:1.5rem;
		}
		li:before{
			color: $white; 
    		content: "-"; 
    		padding-right: 10px; 
    		font-size:2rem;
    	}
	}
	&_img{
		img{
			width:85%;
			margin-top: -6%;
		}	
	}
}

footer{
	background:$footer-color;
}
.footer{
	display:flex;
	padding-bottom:2%;
}
.contact{
	width:40%;
	&_address,&_phone{
		padding-top:6%;
		h2,p,a{
			color:$white;
		}
		img{
			width:6%;
		}
		h2{
			font-size: 1.7rem;
			padding-bottom:4%;
		}
		p,a{
			display: inline;
		    font-size: 1.3rem;
		    vertical-align: top;
		}
	}
}
.maps{
	padding-top: 3%;
}
.social{
	width:24%;
	padding-top:3%;
	padding-left:10%;
	h2{
		color:$white;
		font-size:1.7rem;
		padding-bottom: 10%;
	}
	a{
		padding-top: 2%;
		img{
			width: 26%;
    		padding-right: 6%;
    		padding-left: 5%;
		}
	}
}
.copyright{
	background:#954176;
}
.protection{
	padding:0.5%;
	h2{
		color:$white;
		text-align:center;
		font-weight:400;
		font-size: 1rem;
	}
}
.about{
	background-color:#B9D1ED;
	padding-bottom:2%;
}
.contact-form{
	h2{
		padding-top: 10%;
		color:$primy-color;
		font-size:3rem;
		text-align:center;
	}
}
.info-place{
	display:flex;
	justify-content: space-between;
	padding-top: 6%;
	&_address{
		width:45%;
		.place,.oclock{
			img{
			width: 12%;
    		margin-top: -2%;
			}
			h3{
				display:inline;
				font-size: 1.5rem;
	    		vertical-align: top;
	    		padding-left:1%;
	    		color:$primy-color;
			}
		}
		.oclock{
			padding-top:6%;
		}	
	}
	&_contact{
		width:45%;
		.phone,.email{
			img{
			width: 12%;
    		margin-top: -2%;
			}
			a{
				display:inline;
				font-size: 1.5rem;
	    		vertical-align: top;
	    		padding-left:1%;
	    		color:$primy-color;
	    		font-weight:700;
			}
		}
		.email{
			padding-top:6%;
		}
	}
}
.search{
	text-align:center;
	h2{
		color: #653C80;
	    font-size: 3rem;
	    text-align: center;
	    padding-top: 6%;
	}
	p{
		color:$white;
		padding-top:2%;
		padding-bottom: 2%;
		font-size: 1.5rem;
    	line-height: 1.2;
	}
	img{
		width: 530px;
	    height: 400px;
	    padding-left: 2%;
	}
}
.price{
	h2{
		padding-top:8%;
		color:$white;
		text-align:center;
	}
	#tabs{
		padding-top: 2%;
		/**height: 50vh;**/
		ul{
			text-align:center;
			padding-bottom:1%;
			li{
				display:inline;
				padding-right:2%;
				a{
					color:$white;
				}
				a:focus{
					outline: none;
					border-bottom:2px solid $white;
					padding-bottom: 4px;
				}
			}
			li:focus{
				outline:none;
			}
		}
		#tabs-1,#tabs-2,#tabs-3,#tabs-4,#tabs-5{
			ul{
				li{
					.item {
					    display: flex;
					    justify-content: space-evenly;
					    color:$white;
					    margin:0 auto;
					    width:50%;
					    h3{
					    	font-size:1.5rem;
					    	font-weight:400;
					    	margin-top: -1.1%;
					    }
					    .overflow {
						  flex: 1;
						  white-space: nowrap;
						  overflow: hidden;
						}
					}
				}
			}
		}
	}
	.yet{
		h2{
			padding-top: 1%;
		}
		#tabs-5{
			ul{
				li{
					padding-top: 1%;
					.item {
					    display: flex;
					    justify-content: space-evenly;
					    color:$white;
					    margin:0 auto;
					    width:50%;
					    h3{
					    	font-size:1.5rem;
					    	font-weight:400;
					    	margin-top: -1.1%;
					    }
					    .overflow {
						  flex: 1;
						  white-space: nowrap;
						  overflow: hidden;
						}
					}
				}
			}
		}	
	}
	.call{
		text-align: center;
		padding-top:1%;
		h2{
			padding-bottom: 2%;
		}
		img{
			width:4%;
		}
		a{
			color:$white;
			font-size:2rem;
			padding-left:1%;
    		vertical-align: top;
		}
	}
}
.procedures{
	background: $font-color;
	.container{
		h2{
			padding-top: 8%;
			text-align:center;
			color:$white;
			font-size:2rem;
		}
		.directions{
			display:flex;
			align-items: flex-start;
  			flex-wrap: wrap;
			.item{
				padding-top:4%;
				width:33%;
				padding-bottom:4%;
				&_img{
					text-align:center;
					img{
						width:20%;
					}
				}
				&_description{
					text-align:center;
					h2{
						color:$white;
						font-size:1.6rem;
						font-weight:400;
						padding-top: 0px;
					}
					h2::after{
						content: '';
					    display: block;
					    width: 30px;
					    height: 2px;
					    background: $purpe;
					    margin: 10px auto 0;
					}
					p{
						color:$white;
						font-size:1.1rem;
						padding-top: 2%;
						width: 92%;
					}
				}
			}
		}
	}
}


@-webkit-keyframes example {
    0%   {left:0px; top:400px;}
    100%  {left:0px; top:0px;}
}


@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
